## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./adult.data.csv")
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [4]:
sex_counts = data['sex'].value_counts()
print(sex_counts)

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [68]:
male_data = data[data['sex'] == 'Male']  
mean_male_age = male_data['age'].mean()  
print(f'Cредний возраст мужчин: {mean_male_age:.0f} лет')

Cредний возраст мужчин: 39 лет

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [71]:
usa_citizens = data[data['native-country'] == 'United-States']
usa_citizens_ratio = len(usa_citizens) / len(data)

print(f"Доля граждан Соединенных Штатов в датасете: {usa_citizens_ratio * 100:.2f}%")

Доля граждан Соединенных Штатов в датасете: 89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [25]:
mean_age = data.groupby('salary')['age'].mean()
std_age = data.groupby('salary')['age'].std()
print("Средний возраст:\n", mean_age)
print("\nСреднеквадратичное отклонение возраста:\n", std_age)

Средний возраст:
 salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64

Среднеквадратичное отклонение возраста:
 salary
<=50K    14.020088
>50K     10.519028
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [73]:
no_college_50k = data[(data['salary'] == '>50K') & 
                      (data['education'].isin(['Some-college', '11th', 'HS-grad', '9th', '7th-8th', 
                                               '12th', '1st-4th', '10th', '5th-6th', 'Preschool']))]
count_no_college_50k = len(no_college_50k)
print(f"Количество людей, получающих более 50K и не имеющих высшего образования: {count_no_college_50k}")
print("Cледовательно, не обязательно иметь высшее образование, чтобы получать >50k.")

Количество людей, получающих более 50K и не имеющих высшего образования: 3306
Cледовательно, не обязательно иметь высшее образование, чтобы получать >50k.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [91]:
race_sex_describe = data.groupby(['race', 'sex'])['age'].describe()
max_age_asian = race_sex_describe.loc[('Asian-Pac-Islander', 'Male')]['max']
print(f"\nМаксимальный возраст мужчин расы Asian-Pac-Islander: {max_age_asian:.0f} лет")
race_sex_describe

Максимальный возраст мужчин расы Asian-Pac-Islander: 90 лет

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [92]:
married = data[(data['marital-status'].str.startswith('Married')) & (data['sex'] == 'Male')]
single = data[(~data['marital-status'].str.startswith('Married')) & (data['sex'] == 'Male')]
married_rich = len(married[married['salary'] == '>50K'])
single_rich = len(single[single['salary'] == '>50K'])
if married_rich / len(married) > single_rich / len(single):
    print("Больше доля зарабатывающих много (>50K) среди женатых мужчин")
else:
    print("Больше доля зарабатывающих много (>50K) среди холостых мужчин")

Больше доля зарабатывающих много (>50K) среди женатых мужчин

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [93]:
max_hours = data['hours-per-week'].max()
hard_workers = data[data['hours-per-week'] == max_hours]
n_hard_workers = len(data[data['hours-per-week'] == max_hours])
rich_hard_workers = len(hard_workers[hard_workers['salary'] == '>50K']) / n_hard_workers
print(f"Максимальное число часов в неделю: {max_hours}")
print(f"Количество людей, работающих столько часов: {n_hard_workers}")
print(f"Процент людей, работающих столько часов и зарабатывающих много: {rich_hard_workers * 100:.2f}%")

Максимальное число часов в неделю: 99
Количество людей, работающих столько часов: 85
Процент людей, работающих столько часов и зарабатывающих много: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [94]:
avg_hours = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

avg_hours

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [100]:
bins = [16, 35, 70, 100]
labels = ['young', 'adult', 'retiree']

data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels, include_lowest=True)

data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,age_group,salary_encoded
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young,0

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [104]:
counts = data[data['salary'] == '>50K']['age_group'].value_counts()
print(counts, '\n')

max_age_group = counts.idxmax()
print("Возрастная группа, в которой чаще зарабатывают >50K:", max_age_group)

adult      6042
young      1705
retiree      94
Name: age_group, dtype: int64

Возрастная группа, в которой чаще зарабатывают >50K: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [109]:
# группировка по занятости и подсчет количества людей в каждой группе
occupation_counts = data.groupby('occupation')['occupation'].count()
print(occupation_counts, '\n\n')

# функция фильтрации по возрасту и количеству часов работы в неделю
def filter_func(df):
    return (df['age'].mean() <= 40) and (df['hours-per-week'] > 5).all()

# фильтрация данных и группировка по занятости, и подсчет количества людей в каждой группе
filtered_data = data.groupby('occupation').filter(filter_func)
filtered_counts = filtered_data.groupby('occupation')['occupation'].count()
print(filtered_counts)

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: occupation, dtype: int64


occupation
Armed-Forces    9
Name: occupation, dtype: int64